/* screen - log-in-page */

.log-in-page {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 72px;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.log-in-page .overlap-group2 {
  height: 1057px;
  position: relative;
  width: 820px;
}

.log-in-page .rectangle-1 {
  background-color: var(--claret);
  height: 1024px;
  top: 33px;
  width: 820px;
}

.log-in-page .dont-have-an-account {
  color: var(--white);
  font-family: var(--font-family-cairo-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 899px;
  width: 258px;
}

.log-in-page .rectangle-3 {
  height: 184px;
  top: 0;
  width: 820px;
}

.log-in-page .input-text-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 75px;
  position: absolute;
  top: 438px;
  width: fit-content;
}

.log-in-page .title {
  color: var(--white);
  font-family: var(--font-family-cairo);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 182px;
}

.log-in-page .id-number {
  background-color: transparent;
  border: 0;
  height: 24px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 14px;
  width: 270px;
}

.log-in-page .rectangle-4 {
  border: 1px solid;
  border-color: var(--mystic);
  border-radius: 12px;
  height: 54px;
  top: 0;
  width: 335px;
}

.log-in-page .input-text-field-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 75px;
  position: absolute;
  top: 587px;
  width: fit-content;
}

.log-in-page .password {
  color: var(--white);
  font-family: var(--font-family-cairo);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 182px;
}

.log-in-page .pass {
  background-color: transparent;
  border: 0;
  height: 24px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 14px;
  width: 278px;
}

.log-in-page .pass::placeholder {
  color: #a3a3ae99;
}

.log-in-page .button-large-primary {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 2px #0000003d , 0px 0px 2px #0000001f;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 75px;
  overflow: hidden;
  padding: 16.5px 123px;
  position: absolute;
  top: 771px;
  width: 335px;
}

.log-in-page .give-access {
  color: var(--claret);
  font-family: var(--font-family-cairo);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.log-in-page .sign-up {
  color: var(--white);
  font-family: var(--font-family-cairo-extrabold);
  font-size: var(--font-size-s);
  font-weight: 800;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 899px;
  width: 123px;
}

.log-in-page .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 181px;
  margin-top: 46px;
  min-width: 513px;
  padding: 2px 29px;
}

.log-in-page .primary-rgb_state-audit-bureau-1 {
  height: 176px;
  width: 455px;
}

.log-in-page .rectangle {
  left: 0;
  position: absolute;
}
