{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/log-in-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/globals.css' %}" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="log-in-page" />
    <div class="container-center-horizontal">
      <div class="log-in-page screen" name="form2" action="form2" method="post">
        <div class="overlap-group2">
          <div class="rectangle-1 rectangle"></div>
          <div class="dont-have-an-account">Don’t have an account?</div>
          <img class="rectangle-3 rectangle" src="{% static 'img/rectangle-3.svg' %}" alt="Rectangle 3" />
          <div class="input-text-field">
            <h1 class="title">QID</h1>
            <div class="group-90">
              <div class="overlap-group">
                <input
                  type="text"
                  class="id-number poppins-normal-santas-gray-16px"
                  name="idnumber"
                  placeholder="ID Number"
                  
                  required
                />
                <div class="rectangle-4 rectangle"></div>
              </div>
            </div>
          </div>
          <div class="input-text-field-1">
            <div class="password">Password</div>
            <div class="group-90">
              <div class="overlap-group">
                <input
                  class="pass poppins-normal-santas-gray-16px"
                  name="pass"
                  placeholder="********"
                  type="password"
                  required
                />
                <div class="rectangle-4 rectangle"></div>
              </div>
            </div>
          </div>
          <a href="javascript:SubmitForm('form2')">
            <div class="button-large-primary"><div class="give-access">Sign In</div></div></a
          >
          <div class="sign-up"> <a href="/registration">Sign Up</a></div>
        </div>
        <div class="overlap-group1">
          <img
            class="primary-rgb_state-audit-bureau-1"
            src="{% static 'img/primary-rgb-state-audit-bureau-1@2x.png' %}"
            alt="primary-rgb_state-audit-bureau 1"
          />
        </div>
      </div>
    </div>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script>
  </body>
</html>