{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/reg_style.css' %}">
</head>

<div class="header">
    <div class="logo">
      <img src="{% static 'img/primary-rgb-state-audit-bureau-1@2x.png' %}" alt="Logo">
    </div>
    

    <nav class="navbar navbar-expand-lg navbar-custom">
        <span class="hello-msg">Welcome, {{request.user.get_name}} </a> </span>
        <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    </nav>
</div>