{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reg_style.css' %}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'img/primary-rgb-state-audit-bureau-1@2x.png' %}" alt="Logo">
        </div>
        <div class="toggles">
            <div class="language-toggle">
                <label class="toggle-label" for="language-checkbox">
                    <i class="fas fa-globe language-icon"></i>
                </label>
                <input type="checkbox" id="language-checkbox">
            </div>
        </div>
    </div>
    <form class="m-3 english" method = "post">
      {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">QID <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="{{ form.username.auto_id }}" name="{{ form.username.html_name }}" placeholder="Enter QID" required>
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="{{ form.first_name.auto_id }}" name="{{ form.first_name.html_name }}" placeholder="Enter First Name" required>
                    {% if form.first_name.errors %}
                        <div class="error">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="last-name" class="form-label">Last Name <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="last-name"  name="last_name" placeholder="Enter Last Name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span>
                    </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number <span class="text-danger">*</span>
                    </label>
                    <input type="tel" class="form-control" id="phone" name="phone"  placeholder="Enter Phone Number" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="organization" class="form-label">Organization <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" id="organization" name="organization" required>
                        <option selected disabled value="">Choose an organization...</option>
                        <option value="Ministry of Interior">Ministry of Interior</option>
                        <option value="Ministry of Communication and Information Technology">Ministry of Communication and Information Technology</option>
                        <option value="Ministry of Finance">Ministry of Finance</option>
                        <option value="Ministry of Culture">Ministry of Culture</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="job-title" class="form-label">Job Title <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" id="job-title" name="job" required>
                        <option selected disabled value="">Choose a job title...</option>
                        <option value="Accountant">Accountant</option>
                        <option value="Auditor">Auditor</option>
                        <option value="Financial Analyst">Financial Analyst</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label><span class="text-danger">*</span>
                    <textarea class="form-control" id="address" name="address" placeholder="Enter Address"></textarea>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="password" name="password1" placeholder="Enter Password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password <span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="confirm-password" name="password2" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <div class="mt-3">Already have an account? <a href="/login">Login here</a>
                </div>
            </div>
        </div>
    </form>
    <form class="m-3 arabic">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">رقم البطاقة الشخصية <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="{{ form.username.auto_id }}" name="{{ form.username.html_name }}" placeholder="ادخل رقم البطاقة الشخصية" required>
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">الاسم<span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="{{ form.first_name.auto_id }}" name="{{ form.first_name.html_name }}" placeholder="ادخل الاسم" required>
                    {% if form.first_name.errors %}
                        <div class="error">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="last-name" class="form-label">اسم العائلة <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="last-name"  name="last_name" placeholder="ادخل اسم العائلة" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">البريد الالكتروني <span class="text-danger">*</span>
                    </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ادخل البريد الالكتروني" required>
                </div>
                
                <div class="mb-3">
                    <label for="phone" class="form-label">رقم الهاتف <span class="text-danger">*</span>
                    </label>
                    <input type="tel" class="form-control" id="phone" name="phone"  placeholder="ادخل رقم الهاتف" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="organization" class="form-label">المؤسسة / الشركة <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" id="organization" name="organization" required>
                        <option selected disabled value="">اختر المؤسسة ...</option>
                        <option value="Ministry of Interior">وزارة الداخلية</option>
                        <option value="Ministry of Communication and Information Technology">وزارة الاتصالات وتكنلوجيا المعلومات</option>
                        <option value="Ministry of Finance">وزارة المالية</option>
                        <option value="Ministry of Culture">وزارة الثقافة</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="job-title" class="form-label">المسمى الوظيفي <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" id="job-title" name="job" required>
                        <option selected disabled value="">اختر المسمى الوظيفي...</option>
                        <option value="Accountant">محاسب</option>
                        <option value="Auditor">مدقق حسابات</option>
                        <option value="Financial Analyst">محلل مالي</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">العنوان</label><span class="text-danger">*</span>
                    <textarea class="form-control" id="address" name="address" placeholder="أدخل العنوان"></textarea>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">كلمة السر <span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="password" name="password1" placeholder="أدخل كلمة السر" required>
                </div>

                <div class="mb-3">
                    <label for="confirm-password" class="form-label">تأكيد كلمة السر <span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="confirm-password" name="password2" placeholder="تأكيد كلمة السر" required>
                </div>

                <button type="submit" class="btn btn-primary">التسجيل</button>
                <div class="mt-3">لديك حساب؟ <a href="/login">تسجيل الدخول هنا</a>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/language_script.js' %}"></script>
</body>
</html>

<style>

    a:link{
      color: black !important;
    }
</style>